<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', path='/member.js') }}" defer></script>
  </head>
  <body>
    <header>
      <h1>歡迎光臨，這是會員頁</h1>
    </header>
    <main>
      <h2>{{ request.session["LOGGED-IN"]["user_name"] }}，歡迎登入系統<h2>
      <a href="/logout">登出系統</a>
      <hr />
      <h2>查詢會員姓名</h2>
       <div>
        <input type="text" id="search-id" required />
        <button id="search-button">查詢</button>
        <div id="search-result"></div>
       </div>
      <hr />
      <div>
        <h2>快來留言吧</h2>
        <form action="/createMessage" method="POST" id="message-form">
          <div>
            <label for="message-content">內容</label>
            <input type="text" id="message-content" name="message_content" required />
          </div>
          <div>
            <button type="submit" id="message-button">送出</button>
          </div>
        </form>
      </div>
      <hr />
      <div>
        <ul style="list-style-type: none;">
          {% for msg in messages %}
          <li>
            <strong>{{ msg.name }}</strong>: <span style="font-weight: normal;">{{ msg.content }}</span>
            {% if msg.member_id == request.session["LOGGED-IN"].user_id %}
            <button class="delete-button" message-id="{{ msg.id }}">X</button>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
