* {
  text-align: center;
  font-size: 30px;
}

header {
  background-color: rgb(35, 51, 68);
  height: 200px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  color: white;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
}

div {
  padding: 10px;
}
